body {
  background-image: url("handshaking.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  height: 100%;


}

h2{

  
}

.text-center {
margin-top: 250px;


}

.btn {
  /*font-weight: 300;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;*/

  
  





  /*margin-top: 250px;
  
  margin-left: 600px;*/

  
}

h2{

   /*margin-left: 450px;
   margin-top: 100px;*/
}